.app.dark {
  --bg-color: #121212;
  --inverted-bg-color: #e8e8ea;

  --primary-color: rgb(101, 196, 213);
  --secondary-color: rgb(0, 205, 0);
  --inverted-primary-color: rgb(45, 150, 184);
  --inverted-secondary-color: rgb(40, 48, 60);
}
