:root {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #121212;
    --primary-color: rgb(45 150 184);
    --secondary-color: rgb(28 97 195);
    --inverted-primary-color: rgb(179 192 194);
    --inverted-secondary-color: rgb(111 111 111);
}
