.app.light {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #121212;

  --primary-color: rgb(45, 150, 184);
  --secondary-color: rgb(28, 97, 195);
  --inverted-primary-color: rgb(101, 196, 213);
  --inverted-secondary-color: rgb(0, 205, 0);
}
